body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.whatsapp-btn {
  background-color: #25D366;
  color: white;
  padding: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.sms-btn {
  background-color: #ff914d;
  color: white;
  padding: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}


input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background-color: #45a049;
}

.or {
  margin: 15px 0;
  color: #888;
}

.google-btn,
.facebook-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.google-btn {
  background-color: #db4437;
  color: white;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
}

  